:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  background-color: #377741;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar h1 {
  color: antiquewhite;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* Contenido principal */
.main-content {
  flex: 1;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }
}
