:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main.profile-main {
  flex: 1;
  padding: 2rem;
  font-size: 2rem;
}

footer {
  margin-top: auto;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
}

footer p {
  margin: 0;
  line-height: 1.2;
  font-size: 0.9rem;
}
