footer {
  background-color: #1a6926;
  display: flex;
  justify-content: center;
  align-items: center;
  color:antiquewhite;
  min-height: 80px;  
  margin-top: auto; 
  width: 100%;
  box-sizing: border-box;
  height: 110px; 
  
 
}


footer p {
  text-align: center;
   font-size: 2rem;      
  line-height: 1.5;
}

