footer {
  background-color: #377741;
  width: 100%;
  height: 110px;
  padding: 0.75rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: antiquewhite;
  box-sizing: border-box;
}



footer p {
  text-align: center;
   font-size: 4rem;      
  line-height: 1.5;
}

