
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 253, 253);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  box-sizing: border-box;
}

.brand {
  font-size: 1.2rem;
  font-weight: 600;
  color: #444;
  font-family: 'Poppins', sans-serif;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.buttonInicioSesion,
.buttonRegistrarse {
  background-color: white;
  border: 1px solid #ffd6e0;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonInicioSesion:hover,
.buttonRegistrarse:hover {
  background-color: #ffc4cd;
  color: white;
}
