
.navbar {
  background-color: #377741;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  box-sizing: border-box; 
  margin-bottom:  3rem;
  height: 200px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
.navbar a {
  font-size: 3rem;
  color:antiquewhite;
  text-decoration: none;
}

.navbar a.router-link-active,
.navbar a.router-link-exact-active {
  color:antiquewhite; 
  font-weight: bold;   
}

.btn-InicioSesion,
.btn-Registrarse,
.btn-Contactos {
  color:antiquewhite;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.navbar h1{
    color: antiquewhite;
    margin-left: 30px;
    font-size: 3rem;
}
.contenido {
  flex: 1; 
  padding: 20px;
}


.navbar a.activo {
  border-bottom: 3px solid antiquewhite; }