.today-appointments {
  margin-top: 15rem;
  padding: 1rem;
  margin-bottom: 12rem;
}

.appointment-card {
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-bottom: 2rem;

  /* Flexbox para separar info y estado */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today-appointments h3{
  font-size: 4.5rem;
  padding: 1.8rem 0;
}
.appointment-info {
  font-size: 4rem;
  color: #333;
  
}

.status {
  font-size: 4rem;
  font-weight: 600;
}

/* Colores por estado */
.status.confirmed {
  color: #2e7d32; /* verde */
}

.status.pending {
  color: #f57c00; /* naranja */
}

.status.cancelled {
  color: #c62828; /* rojo */
}
