.private-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 3.5rem;
  background-color: #1a6926;
  color: antiquewhite;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  
}

/* Marca */
.brand {
  font-size: 3.5rem;
  font-weight: bold;
}

/* Bloque derecho */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

/* User menu */
.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Botón usuario */
.user-button {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
 min-width: 5rem;
  min-height: 5rem;

  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.8rem;
  color: #111;
}

.user-button:hover {
  background-color: #e0e0e0;
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 5.5rem;          /* acompaña el tamaño del botón */
  right: 0;

  min-width: 260px;
  padding: 1.5rem;

  border-radius: 12px;

  background: #ffffff;
  color: #1f2937;       /* gris oscuro */
  
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);
  z-index: 1000;
}


/* Botón cerrar sesión */
.logout-btn {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;

  font-size: 2.5rem;
  padding: 0.8rem 1rem;
  text-align: left;
}

.logout-btn:hover {
  background-color:lightgray;
  color:#111
}
