
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4; 
  margin: 0;
}



h2 {
  text-align: center;
  font-size: 3rem;       /* ✔ grande estilo PC */
  color: rgba(255, 253, 249, 0.984);
  margin-bottom: 2rem;
}



form {
  background-color: #000000;
  padding: 2.8rem;
  border-radius: 14px;
  width: 100%;
  max-width: 1250px;     /* ✔ tamaño ideal para PC */
  margin: 0 auto;
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}


form label {
  display: block;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #fff9f9;
  font-size: 3rem; 
}


form input[type="text"],
form input[type="email"],
form input[type="telefono"],
form input[type="password"],
form textarea {
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid #1a1818;
  border-radius: 6px;
  background-color: #ffffff; 
  font-size: 1.5rem;
  resize: vertical; 
}



form button {
  width: 100%;
  padding: 0.8rem;
  background-color: #377741; 
  color: antiquewhite;
  border: none;
  border-radius: 6px;
  font-size: 2.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color:#377741; 
}

